
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="title">{{title}}</div>
<div class="generation">{{generation}}</div>
<div class="container">
    <img src="../assets/Pokedex.png" class="pokeDex">
    <img src={{pokemonSpriteUrl}} class="pokemonSprite">
    <div class="pokemonName">{{pokemonName.toUpperCase()}}</div>
    <div class="pokemonDescription">{{pokemonDescription.replaceAll('', '').toUpperCase()}} </div>
    <div class="pokedexNumber">#{{pokeIndex + 1}}</div>
    <div class="pokemonType">{{pokemonType.toUpperCase()}}</div>
    <div class="PrevButton" (click)="iteratePokemon(false)"> </div>
    <div class="NextButton" (click)="iteratePokemon(true)"> </div>
    <form [formGroup]="searchForm" 
          (ngSubmit)="onSearchSubmit()">
        <input (clickOutside)="toggleDropdown(false)" type="text" (click)="toggleDropdown(true)" class="searchFormBar" placeholder="Search..." formControlName="searchValue">
        <div *ngIf="showDropdown"  class="pokemon-dropdown">
            <div (click)="selectPokemonName(pokemon.name.toUpperCase())" class="pokemon-dropdown-contents"
                 *ngFor="let pokemon of pokemonResults |searchFilter:getSearchValue()">
                {{pokemon.name.toUpperCase()}}
            </div>
            </div>
    </form>

</div>
