
li
{
    display:inline;
}

div
{
    font-family: 'pokemonFont';
    color: #133b13;
}

div.Sprite
{
    display: flex;
    justify-content: center;
}

div.container 
{
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
    
    width: 100%;
    height: 100%;
    
}

img.pokeDex
{
    width: 100%;
    height: 100%;
}

img.pokemonSprite
{
    position: absolute;
    width: 100%;
    height: auto;

    left: 22%;
    top: 30%;

    max-width: 20%;
    max-height: auto;  
}

.pokemonName
{
    position: absolute;
    text-align: center;
    font-size: clamp(0.02rem, 1.25vw, 1rem);

    left: 21%;
    top: 78%;

    width: 10%;
    height: 5%;
}

div.pokemonDescription
{
    position: absolute;
    overflow: hidden;
    font-size: clamp(0.3rem, 1vw, 0.75rem);

    right: 19.5%;
    top: 34%;
    width: 23%;
    height: 15%;
}

div.PokemonType
{
    position: absolute;
}

div.NextButton
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    left: 43.7%;
    top: 81.7%;
    width: 3%;
    height: 5%;
}

div.PrevButton
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    left: 37.2%;
    top: 81.7%;
    width: 3%;
    height: 5%;
}



